# Binaries
*.exe
*.dll
*.so
*.dylib
bin/

# Data
# data/
# *.db
# *.sqlite
# *.db-shm
# *.db-wal

# Uploads
uploads/*
!uploads/.keep
!uploads/img/
!uploads/img/**

# Logs
*.log

# Editor
.vscode/
.idea/
